@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');

:root{
    --primary-dark: darkblue;
    --primary-light: #EEF7FF;
    --primary-contrast: #3c95be;
    --primary-dark-background: #20272E;
    // #3c95be
}

body{
    background: var(--primary-light);
    margin: 0;
    font-family: 'Poppins';
}

// ------------------------------------------------------------------
//                             General
// ------------------------------------------------------------------

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.menu-hide{
    display: none;
}

// ------------------------------------------------------------------
//                             Navbar
// ------------------------------------------------------------------

.navbar{
    background: white;
    padding: 1em;

    .container{
        display: flex;
        place-content: space-between ;
        position: relative;

        .logo{
            text-decoration: none;
            font-weight: bold;
            color: var(--primary-dark);
            font-size: 1.2em;

            span {
                color: var(--primary-contrast);
            }
        }

        .mobile-menu{
            cursor: pointer;
            display: block;
        }

        nav {
            position:fixed;
            margin: 0;
            z-index: 999;
            width: 66%;
            right: 0;
            top: 0;
            background: var(--primary-dark-background);
            height: 100vh;
            padding: 1em;

            .mobile-menu-exit{
                float: right;
                margin: .5em;
                cursor: pointer;
            }

            ul.primary-nav{
                margin-top: 4em;
            }

            li{
                a{
                    color: white;
                    text-decoration: none;
                    display: block;
                    padding: .5em;
                    text-align: right;

                    &:hover{
                        font-size: 1.05em;
                        color: var(--primary-contrast);
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------
//                             Hero
// ------------------------------------------------------------------

.hero {
    text-align: center;

    .left-col{

        .subhead{
            text-transform: uppercase;
            font-weight: bold;
            color: gray;
            letter-spacing: 0.3em;
        }

        h1{
            font-size: 4em;
            line-height: 1.3em;
            margin-top: 0.2em;
        }

        .hero-cta{

            .primary-cta{
                background: var(--primary-contrast);
                color: white;
                text-decoration: none;
                padding: 0.6em 1.3em;
                font-size: 1.4em;
                border-radius: 5em;
                font-weight: bold;
                display: inline-block;
            }

            .watch-video-cta{
                display: block;
                margin-top: 2em;

                img{
                    margin-right: 0.5em;
                }
            }
        }
    }

    .hero-img{
        width: 70%;
        margin-top: 3em;
    }
}

// ------------------------------------------------------------------
//                             Features
// ------------------------------------------------------------------

section.features-section{
    background: var(--primary-dark-background);
    color: white;

    ul.features-list{
        margin: 0;
        padding-left: 2em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

        li {
            font-size: 1.1em;
            margin-bottom: 1em;
            margin-left: 2em;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                left: -2em;
                width: 20px;
                height: 20px;
                background-image: url("../imgs/bullet.svg");
                background-size: contain;
                margin-right: .5em;
            }
        }
    }

    img{
        display: none;
    }
}

// ------------------------------------------------------------------
//                             Testimonials
// ------------------------------------------------------------------

section.testimonials-section{
    background: var(--primary-contrast);
    color: white;

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        li{
            background: #2c6e8d;
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin-bottom: 5em;
            border-radius: 1em;

            img{
                width: 5em;
                height: 5em;
                border-radius: 50%;
                border: 5px solid  #2c6e8d;
                margin-top: -4.5em ;
            }
        }
    }
}

// ------------------------------------------------------------------
//                             Contacts
// ------------------------------------------------------------------

section.contact-section{
    .contact-left{
        h2{
            font-size: 2em;
        }

        label{
            display: block;
            font-size: 1.2em;
            margin-bottom: .5em;
        }

        input, textarea{
            width: 100%;
            padding: .8em;
            margin-bottom: 1em;
            border-radius: .3em;
            border: 1px solid gray;
            box-sizing: border-box;
        }

        input[type="submit"]{
            background: var(--primary-contrast);
            color: white;
            font-weight: bold;
            font-size: 1.3em;
            border: none;
            margin-bottom: 5em;
            border-radius: 5em;
            width: unset;
            display: inline-block;
            padding: .8em 2em;
            cursor: pointer;
        }
    }

    .contact-right{
        iframe{
            width: 100%;
            height: 400px;
        }
    }
}

// ------------------------------------------------------------------
//                             Media Quaries
// ------------------------------------------------------------------

@media only screen and (min-width: 750px){
    #mobile-cta, .mobile-menu-exit{
        display: none;
    } 

    .navbar{
        .container{
            display: grid;
            grid-template-columns: 180px auto;
            justify-content: unset;

            nav {
                display: flex;
                justify-content: space-between;
                background: none;
                position: unset;
                height: auto;
                width: 100%;
                padding: 0;

                ul.primary-nav{
                    margin: 0;
                }

                li.active a{
                    color: var(--primary-contrast);
                }

                a.go-premium-cta {
                    color: var(--primary-contrast);
                    border: 3px solid var(--primary-contrast);
                    font-weight: bold;
                    border-radius: 5em;
                    margin-top: -.2em;

                    &:hover{
                        color : white;
                        background: var(--primary-contrast);
                    } 
                }

                ul{
                    display: flex;

                    a{
                        color: black;
                        font-size: 1em;
                        padding: .1em 1em;

                        &:hover{
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1145px){
    .container{
        width: 1080px;
        margin: 0 auto;
    }

    section{
        padding: 10em 4em;
    }

    .hero{
        .container{
            display: flex;
            justify-content: space-between;
            text-align: left;

            .left-col{
                margin: 3em 3em 0 5em;

                h1{
                    font-size: 3em;
                    width: 90%;
                }

                .hero-cta{
                    display: flex;
                    .primary-cta{
                        margin-right: 1em;
                    }
                }
            }

            .hero-img{
                width: 30%;
                margin-right: 8em;
            }
        }
    }

    section.features-section{
        position: relative;

        ul.features-list{
            display: block;
            margin-left: 5em ;
            
            li{
                font-size: 1.4em;

                &::before{
                    width: 30px;
                    height: 30px;
                    line-height: 2em;
                    font-weight: normal;
                }
            }
        }

        img{
            display: block;
            position: absolute;
            right: 0;
            width: 350px ;
            bottom: -2em;
        }
    }

    section.testimonials-section ul{
        display: flex;
        flex-direction: row-reverse;

        li{
            margin: 0 1em;
        }
    }

    section.contact-section{
        position: relative;

        .container{
            display: flex; 

            .contact-right{
                position: absolute;
                right: 0;
                top: 0;
                width: 45%;
                height: 100%;

                iframe{
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px){
    section.features-section{
        &:before{
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-contrast);
            left: 0;
            top: -4em;
        }

        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20em;
            background: url('../imgs/dots.svg') no-repeat;
            left: 4.5em;
            top: 2em;
        }
    }
}
// 